<h1>Chatting with <%= @conversation.with(current_user).name %></h1>
<div id="conversation-main" class="chat">
  <div id="conversation-body" data-conversation-id="<%= @conversation.id %>" class="detalle-conversacion">
    <%= render partial: "personal_messages/personal_message", collection: @conversation.personal_messages, as: :personal_message, locals: {user: current_user } %>
  </div>

  <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit %>
  <% end %>
</div>
